{% extends "base.html" %}
{% block title %}Retention{% endblock %}
{% block content %}
<div class="container">
	<div class="choice-jumbotron jumbotron">
		<div class="row add-decks center">
			<div class="col-md-6 choice choice-left">
				<a href="/add_decks/facebook" class="choice-links"><i class="fa fa-facebook-square"></i><br/>
				<span class="caption">Import from Facebook</span></a>
			</div>
			<div class="col-md-6 choice choice-right">
				<a href="/add_decks/custom" class="choice-links"><i class="fa fa-archive"></i><br/>
				<span class="caption">Create your Own</span></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}