{% extends "base.html" %}
{% block title %}Retention{% endblock %}
{% block extras %}
<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<h1>Extensions</h1>
	</div>
	<div>
		<h2>Make your own</h2>
		<form method="POST" action="/extensions">
			<label>Name: <input name='name'></label><br>
			<textarea name="code" style="height:150px;width:300px;" placeholder="function <name>(word){ return value }"></textarea><br><br>
			<button class="btn btn-lg btn-primary" type="submit">Create</button>
		</form>
	</div>
</div>
{% endblock %}