{% extends "base.html" %}
{% block title %}Retention{% endblock %}
{% block content %}
	<div class="container center">
		<div class="signup-jumbotron jumbotron center">
			<h1>Retention</h1><br/>
			<hr class="index">
			<span class="caption">Easily memorize peoples' names.</span>
		</div>
		<br/><br/><br/><br/>
		<div class="signup-btn">
			<a type="btn btn-warning" class="btn btn-primary btn-lg" href="https://www.facebook.com/dialog/oauth?client_id=1420579554861962&response_type=token&scope=email,read_friendlists,user_online_presence,user_groups&redirect_uri=http://localhost:8000/user">Connect with Facebook</a>
		</div>
	</div>
{% endblock %}