{% extends "base.html" %}
{% block title %}Retention - Study {{flashcards['deck_name']}}{% endblock %}
{% block extras %}
<script>
jQuery(document).ready(function(){
 	for (int i = 0; i < {{flashcards['flashcards']|length}}) && i < 2; i++) {
		var card = {{flashcards['flashcards'][i]}};
		updateQuestion(question);
	}
});

function updateQuestion(question) {
	if (question['type'] == 'text') {
		$('#question').innerHtml(question['value']);
	}
}
</script>
{% endblock %}
{% block content %}
<div class="container">
	<div class="decks-jumbotron jumbotron center" style="margin-top: 25px;">
		<h1 id="question">Loading...</h1>
	</div>
</div>
{% endblock %}